@import url('https://fonts.googleapis.com/css?family=Short+Stack:100,200,300,400,500,600,700|Nosifer:100,200,300,400,500,600,700,800,100');

body {
    margin: 0;
    padding: 0;
    background-color: #121214;
    position: relative;


}


h2 {
    text-align: center;
    font-family: 'Nosifer', cursive;
    font-weight: 300;
    color: #D5BEFA;
    padding-top: 80px;

}

h3 {
     font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: #D5BEFA;

}

h4 {
     font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: #D5BEFA;

}

h5 {
    font-family: 'Short Stack', cursive;
    font-weight: bold;
    color: #D5BEFA;
}

td {

      font-family: 'Short Stack', cursive;
      color: #EDF6F4;
}

.buy-tickes {
    color: #EDF6F4;
    background-color: #483381;
}

#submit-booking-query {
     color: #EDF6F4;
    background-color: #483381;
}

.navbar .navbar-nav .nav-item .nav-link{
    font-family: 'Short Stack', cursive;
    font-weight: bold;
    font-size: 700;
    color: #D5BEFA;


}

.nav-pill {
    background-color: white;


}

.landing-container {

    height: 100vh;
    width: 100vw;
    background: url("../images/ramones_onstage_2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: left top;

}

.music-container {}

.music-card{

    margin-top: 25px;
    margin-bottom: 25px;
}

.video-container {}


.embed-responsive {

  margin: 25px
}

#submit-booking-query{
    margin-top: 10px;
}







