@import url('https://fonts.googleapis.com/css?family=Short+Stack:100,200,300,400,500,600,700|Nosifer:100,200,300,400,500,600,700,800,100');

body {
    font-family: 'Short+Stack', sans-serif;
    background-color: black;
}

/* Navbar */

.navbar {
    display: flex;
    background-color: black;
    color: black;
    width: 100%;
    padding: 0;

}

.navbar a {
    font-family: 'Short Stack', cursive;
    font-weight: bold;
    font-size: 600;
    color: #D5BEFA;
}

/* Background Image */

.background-image {
    background: url("../images/ramones_onstage.jpg") no-repeat bottom right fixed;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    -o-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;

}

/* Display Header */

.display-1 {
    color: #D5BEFA;
    font-family: 'Nosifer', cursive;
    font-weight: 800;
    font-size: 60px;
    text-align: center;

}


.display-2 {
    color: #8452D7;
    font-family: 'Nosifer', cursive;
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}
