@import url('https://fonts.googleapis.com/css?family=Short+Stack:100,200,300,400,500,600,700|Nosifer:100,200,300,400,500,600,700,800,100');

body {
    font-family: 'Short+Stack', sans-serif;
    background-color: #000000;
    font-family: 'Short Stack', cursive;
    color: #E6E6FA;
}

/* Navbar */

.navbar-container{
    padding: 0;
}

.navbar {
   margin-bottom:0;
    border:0;
    width: 100%;


}

.navbar .navbar-nav .nav-item .nav-link{
    font-family: 'Short Stack', cursive;
    font-weight: bold;
    font-size: 600;
    color: #D5BEFA;

}




/* Background Image */

.header-landing {
    background-image:  url("../images/ramones_onstage.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vh;
    position: relative;




}

/* Display Header */

.display-1 {
    color: #D5BEFA;
    font-family: 'Nosifer', cursive;
    font-weight: 800;
    font-size: 60px;
    text-align: center;
    margin-top: 60px;

}



